#!name=wmbwc
#!desc=没效果，废弃了
#!author=Yuehuaer
#!icon=https://img.229830.xyz/file/AgACAgEAAyEGAATdFJTpAAIC2mnpz8uUMQYstnlYaunujDbW2zqiAAIlDGsb5QZQR6gFP_NM6wYAAQEAAwIAA20AAzsE.png
#!raw-url=https://raw.githubusercontent.com/Yuehuaer/Yuen/refs/heads/main/Rewrite/wmbwc.snippet
#############################################


# 1. 拦截神策与微信埋点
^https?:\/\/clklog\.waimaimingtang\.com url reject
^https?:\/\/test-clklog\.waimaimingtang\.com url reject
^https?:\/\/work\.weixin\.qq\.com\/wework_admin\/report url reject

# 2. 核心接口解密与广告抹除 (旧加密接口，使用JS脚本)
^https?:\/\/.*waimaimingtang\.com\/api\/v2\/index$ url script-response-body https://raw.githubusercontent.com/Yuehuaer/Yuen/refs/heads/main/Adblock/waimai_ad_block.js
^https?:\/\/.*waimaimingtang\.com\/api\/v2\/index\/grzxy\/index$ url script-response-body https://raw.githubusercontent.com/Yuehuaer/Yuen/refs/heads/main/Adblock/waimai_ad_block.js

# 3. 首页新加密广告接口 (动态加密太复杂，先尝试直接暴力 Reject)
^https?:\/\/.*waimaimingtang\.com\/bwc\/waimaimt-web-bwc\/baseIndex\/getBannerList url reject

hostname = *.waimaimingtang.com, work.weixin.qq.com